h2, h5{
    color: gray;
    text-align: center;
}
.container{
    margin-top: 100px;
}
.btn{
    background-color: #1A3066;
    color: white;
}
.row{
    margin-top: 100px;
}
h3{
    text-align: center;
    margin-top: 50px;
    color: gray;
}

p{
    display: block;
margin: 0px auto;
text-align: center;
}

.fa-facebook-square{
    color:#1A3066;
    font-size: 30px;
    border-radius: 15px;
}

.fa-youtube{
    color: red;
    font-size: 30px;
}

.fa-instagram-square{
    color: #FFAFAF ;
    font-size: 30px;
    border-radius: 30px;
}

.fa-whatsapp{
    font-size: 30px;
    color: #3DEF58;
}

.col-lg-3 img{
    width: 300px;
}

.redes{
    margin-bottom: 50pxx1;
}
